<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>532351207092-nrclbratcui5skm5drjfd363vbln5gjc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.532351207092-nrclbratcui5skm5drjfd363vbln5gjc</string>
	<key>API_KEY</key>
	<string>AIzaSyBebk8Y3LAWJhs08CaPSi0fadKjWAfDcRU</string>
	<key>GCM_SENDER_ID</key>
	<string>532351207092</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>iOS.Studio-Lamda</string>
	<key>PROJECT_ID</key>
	<string>studio-lamda</string>
	<key>STORAGE_BUCKET</key>
	<string>studio-lamda.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:532351207092:ios:6d9cba80636dcb9ac5b9e1</string>
</dict>
</plist>